# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .idea/.gitignore
将删除 .idea/description.html
将删除 .idea/encodings.xml
将删除 .idea/inspectionProfiles/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/project-template.xml
将删除 alg_impl.iml
将删除 src/
